Source: hsencfs
Section: devel
Priority: optional
Maintainer: Peter Glen <peterglen99@gmail.com>
Build-Depends: build-essential, debhelper, libfuse3-dev, libfuse-dev
Standards-Version: 3.9.3

Package: hsencfs
Architecture: all
Depends: fuse, fuse3, ${shlibs:Depends}, ${misc:Depends}
Description: High Security Encrypted file system
 The HSENCFS encrypting file system is a resource friendly secure in line
 encrypting file system.
