Source: hsencfs
Section: devel
Priority: optional
Maintainer: Peter Glen <peterglen99@gmail.com>

Package: hsencfs
Architecture: all
Build-Depends: fuse, fuse3
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: High Security Encrypted file system
 The HSENCFS encrypting file system is a resource friendly secure in line
 encrypting file system.
