Package: hsencfs
Essential: no
Priority: optional
Section: base
Maintainer: Peter Glen <peterglen99@gmail.com>
Architecture: amd64
Version: 1.4-0
Pre-Depends: libc6 (>= 2.0.105)
Provides: hsencfs
Description: High Security Encrypted File System; Inline encryption filesystem.
